/* dark-theme.css */

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background-color: #111113; /* Dark background color */
  color: #ffffff; /* Light text color */
  line-height: 1.6; /* Add spacing between lines */
  padding: 20px; /* Add padding for content */
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #ffffff; /* Light text color for table */
  margin-top: 20px; /* Add spacing above the table */
}

th, td {
  border: 1px solid #444; /* Dark border color */
  text-align: left;
  padding: 5px; /* Increase padding for better spacing */
  width: 40px;
}

th {
  background-color: #111113; /* Darker background color for table header */
}

h1, h2 {
  color: #a660ff; /* Red accent color for headings */
  margin-bottom: 15px; /* Add spacing below headings */
}

label {
  color: #ffffff; /* Light text color for labels */
}

input {
  background-color: #111113; /* Dark background for text boxes */
  color: #ffffff; /* Light text color for text boxes */
  border: 1px solid #555; /* Dark border color for text boxes */
  padding: 8px;
  margin-bottom: 12px; /* Add spacing below text boxes */
}

button {
  background-color: #a660ff; /* Red accent color for buttons */
  border: none;
  padding: 8px 8px;
  cursor: pointer;
}

button:hover {
  background-color: #a660ff; /* Darker red on hover for buttons */
}

.container {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 20px; /* Add spacing above the table container */
}


